<div class="jumbotron">
    <h1 class="display-4">Pizza Delivery</h1>
    <p class="lead">Welcome to pizza delivery service. This is the place when you may chose the most delicious pizza you like from wide variety of options!</p>
    <hr class="my-4">
    <p>We're performing delivery free of charge in case if your order is higher than 20$</p>
    <p class="lead">
        <a class="btn btn-dark btn-lg loggedOut" href="/user/session/create" role="button">Sign In and Order</a>
        <a class="btn btn-dark btn-lg loggedIn" href="/menu/list" role="button">Go to the Menu</a>
    </p>
</div>
